:root {
  --mainBG : #212121;
  --main2BG : #343a40;
  --mainColor : #d1d1d1;
}

body{
  background-color: var(--main2BG);
}

.axisNavbar{
  color:grey;
  background: black;
}
.headContent{
  background-color: black;
  color:var(--mainColor);
}
.axisMenu{
  background-color: var(--mainBG);

}
.sticky {
  background-image: linear-gradient(#12313b, #138e55);
  color: white;
}
