:root {
  --mainBG : #212121;
  --mainColor : #d1d1d1;
}

body{
  background-color: #212121;
}

.axisNavbar{
  color:grey;
  background: black;
}
.headContent{
  background-color: black;
  color:var(--mainColor);
}
