:root {
  --mainBG : #18191a;
  --cardBG : #202022;
  --mainColor : #d1d1d1;
}

body{
  background-color: var(--mainBG);
}
input {
  background-color: #25292b;
  color: white;
}
input:focus { /*#bdd4ff;*/
  background-color:black;
  box-shadow: 0px 0px 2px rgba(0,100,255,1),
              0px 0px 2px rgba(0,100,255,1),
              0px 0px 3px rgba(0,100,255,1);
}
button {
  background-color:#25292b;
  color: var(--mainColor);
}
button:hover{
  background:black;
  color:white;
}

.axisNavbar{
  color:grey;
  background: black;
}
.headContent{
  background-color: black;
  color:var(--mainColor);
}
.axisMenu{
  background-color: var(--cardBG);
  color: var(--mainColor);

}
.sticky {
  background-color: var(--cardBG);
  color: white;
}
.overlapContentPage{
  background-color: rgba(0, 0, 0, 0.8);
}
.uploadPostForm {
  background: var(--cardBG);
  color:var(--mainColor);
  box-shadow: 0px 0px 2px rgba(75, 105, 101,1),
              0px 0px 2px rgba(75, 105, 101,1),
              0px 0px 5px rgba(75, 105, 101,1);

}
.advancedPostButton:hover{ color:white; }
.newPostSubmitButton {
  background-color:#03658c;
  color:var(--mainColor)
}
.newPostSubmitButton:hover { background-color:#015475;color:white; }
