{% block profileSidebar %}
  <div class='sidebarDiv'>
    <center><p> User Profile </p></center>
    {% if user.is_authenticated %}
      <div class="sidebarElement">
        <button type="button" name="viewProfileButton" class="viewProfileButton">
          <i class='fas fa-user-tie' style='font-size:23px;'></i> My Profile 
        </button>
      </div>
      <div class="sidebarElement">
        <button type="button" name="uploadPostButton" class="uploadPostButton">Upload Post </button>
      </div>
    {%else%}
        <i class="fas fa-user-secret"></i>
        <h6>Joined Axis ?<a style="font-size:15px;" href="{% url 'axisUsers:login' %}"> Login Here </a></h6>
        <h6>Not Registered ? <a style="font-size:15px;" href="{% url 'axisUsers:register' %}"> Register Here </a></h6>
    {% endif %}
  </div>
  <div class='sidebarHelp'>
    <a href="{% url 'axisPosts:postView' %}"> Home <span class="sr-only">(current)</span></a>
  </div>
{% endblock profileSidebar%}
