{% block settingSidebar %}
<div class='sidebarDiv'>
  <p class='sidebarTitle'> Axis Settings </p>
  {% if user.is_authenticated %}
    <div class='sidebarElement' id='userSettingsButton'>
      <i class="fas fa-cog"></i>
      User Settings 
    </div>
  {% endif %}
  <div class='sidebarElement' id='darkThemeButton'>
    <i class="fas fa-adjust"></i>
    <i style="margin-right:1em;font-style:normal;"> Dark Theme </i>
    <label class="colorModeSwitch">
      <input type="checkbox" class="themeSwitch">
      <span class="slider round"></span>
      <span class="themeMsg"></span>
    </label>
  </div>
  <p class='sidebarTitle'> More </p>
  <div class='sidebarElement' id='feedbackButton'>
    <i class="fas fa-comment-dots"></i>
    Give Feedback
  </div>
</div>
  
{% endblock settingSidebar %}
