{% block settingSidebar %}
    <div class="sticky">
      <p>Settings and Info</p>
      <ul class="navbar-nav mr-auto nav-fill">
        <li class="nav-item active">
          <label class="colorModeSwitch">
             <input type="checkbox" class="themeSwitch">
             <span class="slider round"></span>
             <span class="themeMsg"></span>
           </label>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Setting 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Setting 2</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Settings Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Setting A</a>
            <a class="dropdown-item" href="#">Setting B</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Different Setting</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Additional INFO/Setting</a>
        </li>
      </ul>
     </div>
{% endblock settingSidebar %}
