{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'axisCore/css/uploadPost.css' %}">

<div class="uploadPostForm" id='uploadPostForm'>
  <h6 class="advancedPostButton"> Advanced Post </h6>
  <h6>Want to Post Something ?</h6>
  <hr style="margin-top:0px;margin-bottom:0px;">
  <form method="post" action="" onSubmit="return false;" class="postForm" id="postForm">
      {% csrf_token %}
      <h6 style="padding-top:2em;"><span class="error">*Required Fields</span></h6>
      {{ uploadPostForm.non_field_errors }}
      {{ uploadPostForm.source.errors }}
      {{ uploadPostForm.source }}
      {% if uploadMessages %}
        <ul class="messages">
            {% for message in uploadMessages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
      <p style="text-align:center;margin:0%;">
      <i class="fas fa-user-tie" style='font-size:18px;'></i> {{ user.username }}
      <input type="text" class="newPostTitle" id='newPostTitle' placeholder=" Title/Heading" required>
      <span class="error">* {{uploadPostForm.postTitle.errors}}</span>
      </p>
      <br><br>
      <label for="Category">Choose Your Post Category : </label>
      <select name="Category" class='optionSelection' id='category'>
        <option value="0">Regular Post</option>
        <option value="1">Project</option>
        <option value="2">Complaint</option>
        <option value="3">Concern</option>
        <option value="4">Movement</option>
        <option value="5">Awareness</option>
      </select>
      <span class="error"> {{uploadPostForm.category.errors}} </span>
      <br>
      <label for="Type">Choose Post Type/Level : </label>
      <select name="Type" class='optionSelection' id='postLevel'>
        <option value="0">None</option>
        <option value="1">Government</option>
        <option value="2">Community</option>
        <option value="3">Private</option>
        <option value="4">Charity</option>
        <option value="5">Organization</option>
      </select>
      <span class="error"> {{uploadPostForm.postLevel.errors}}</span>
      <br>
      <label for="Status">Choose Status : </label>
      <select name="Status" class='optionSelection' id='axisStatus'>
        <option value="0">None</option>
        <option value="1">Planning Phase</option>
        <option value="2">On Going</option>
        <option value="3">Suspended</option>
        <option value="4">Ended/Completed</option>
        <option value="5">Cancelled( Aborted )</option>
      </select>
      <span class="error"> {{uploadPostForm.axisStatus.errors}}</span>
      <br>
      <label for="budget">Estimated Budget : </label>
      <input type="number" name="budget" id='budget' placeholder=" Budget (NRS) ">
      <span class="error"> {{uploadPostForm.budget.errors}}</span>
      <br><br>
      <label for="startDate">Start Date : </label>
      <input type="date" class="optionSelection" id="startDate"name="startDate">
      <span class="error"> {{uploadPostForm.startDate.errors}}</span>
      <br>
      <label for="endDate">End Date : </label>
      <input type="date" class="optionSelection" id="endDate" name="endDate">
      <span class="error"> {{uploadPostForm.endDate.errors}}</span>
      <br><br>
      <div style="width:100%;margin-bottom:0px;">
        <textarea name="newPostContent" rows="8"
          id='newPostContent'class="newPostContent"
          placeholder=" Write Your Post Here ..." required></textarea>
        <div class="advancedPostTab" id="advancedPostTab" style="display:none;">
          Advanced Post Tab Placement
         </div>
        <span class="error">* {{uploadPostForm.content.errors}}</span>
      </div>
      <br>
      <center>
        <input class="newPostSubmitButton" type="submit" name="submitPost" value="Post">
       </center>
   </form>
</div>
<div style="color:white;margin-bottom:2em;">
  <p>** Fill in all the Required Fields to Upload Your Post !!</p>
</div>
