{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'axisCore/css/uploadPost.css' %}">
<div class="uploadPostForm" id='uploadPostForm'>
  <h6 class="advancedPostButton"> Advanced Post </h6>
  <h6>Want to Post Something ?</h6>
  <hr style="margin-top:0px;">
  <form method="post" action="uploadPost" onSubmit="return false;" class="postForm" id="postForm">
      {% csrf_token %}
      <h6 style="padding-top:2em;"><span class="error">*Required Fields</span></h6>
      {{ uploadPostForm.non_field_errors }}
      {{ uploadPostForm.source.errors }}
      {{ uploadPostForm.source }}
      {% if uploadMessages %}
        <ul class="messages">
            {% for message in uploadMessages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
      <p style="text-align:center;margin:0%;margin-bottom:-3%;">
      <i class="fas fa-user-tie" style='font-size:18px;'></i> {{ user.username }}
      {{uploadPostForm.postTitle}}
      <span class="error">* {{uploadPostForm.postTitle.errors}}</span>
      </p>
      <br><br>
      Issue Category : {{uploadPostForm.category}}
      <span class="error">{{uploadPostForm.category.errors}}</span>
      Issue Level/ Type : {{uploadPostForm.postLevel}}
      <span class="error">{{uploadPostForm.postLevel.errors}}</span><br>
      Issue Status : {{uploadPostForm.axisStatus}}
      <span class="error">{{uploadPostForm.axisStatus.errors}}</span><br>
      Budget : {{uploadPostForm.budget}}
      <span class="error">{{uploadPostForm.budget.errors}}</span><br>
      StartDate:{{uploadPostForm.startDate}}EndDate:{{uploadPostForm.endDate}}
      <span class="error">{{uploadPostForm.startDate.errors}}</span>
      <span class="error">{{uploadPostForm.endDate.errors}}</span><br><br>
      {{uploadPostForm.content}}
      <span class="error">* {{uploadPostForm.content.errors}}</span><br>
      <center>
      <input class="newPostSubmitButton" type="submit" name="submitPost" value="Post">
     </center>
   </form>
</div>
<div>
  <p>Fill in all the Required Fields to Upload Your Post !!</p>
</div>
