{% extends "axisCore/base.html" %}
{% include "axisPMS/pmsSidebar.html" %}
{% block content %}
  <div class="axisPMSPosts" style="color:white;">
    Hello This is PMS
  </div>
{% endblock content %}
{% block customSidebar %}
      <span class="loadMoreButton"  id="loadMoreButton-{{post.id}}"  style="">customSidebar of axisPOSTS</span>
      <span class="loadComplete"  id="loadComplete-{{post.id}}" title="Custom Sidebar From axisPosts">This is a Sidebar That is Controlled and Managed by Individual Apps</span>
{% endblock customSidebar %}
