{% block customSidebar %}
  <p>Profile and More</p>
  <ul class="navbar-nav mr-auto nav-fill">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <label class="colorModeSwitch">
         <input type="checkbox" class="themeSwitch">
         <span class="slider round"></span>
         <span class="themeMsg"></span>
       </label>
    </li>
    <li class="nav-item">
      <button type="button" name="uploadPostButton" class="uploadPostButton">Upload Post</button>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="user/register">Register</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Services
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Web Development</a>
        <a class="dropdown-item" href="#">Machine Learning</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Game Development</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">My Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Hidden Text</a>
    </li>
  </ul>
{% endblock customSidebar%}
