@font-face {
font-family: 'StrokeyBacon';
font-style: normal;
font-weight: normal;
src: local('StrokeyBacon'), url('../fonts/StrokeyBacon.woff') format('woff');
}
body{
  background-color: var(--mainBG);
  text-align: justify;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: var(--black);
  color: var(--mainColor);
}
input {
  background-color: var(--inputBG);
  color: var(--mainColor);
}
input:focus {
  background-color: var(--black);
  border : 1px solid var(--borderColor);
}


/* ======================== NAVBAR ========================================= */

.axisNavbar
{
  height: 3em;
  transition: top 0.5s;
  position:fixed;
  width:100%;
  z-index:1;
  color:grey;
  background: black;
}
.form-control {
    padding-right: 30px;
}
.form-control + .fas {
    position: absolute;
    right: 0;
    padding: 10px 27px;
}
.searchQueryField{
  height:2em;
  width:12em;
}
.searchQueryField:focus{
  background-color: #e1f5f0;
  box-shadow: 0px 0px 2px rgba(0,100,255,1),
              0px 0px 2px rgba(0,100,255,1),
              0px 0px 3px rgba(0,100,255,1);
}
.searchQueryButton{
  font-size: 14px;
}
.searchQueryButton:hover{
  color:black;
  font-weight: bolder;
  font-size: 16px;
}

/* ======================== Head Content ========================================= */

.headContent{
  background-color: var(--black);
  color:var(--mainColor);
}

/* ======================== Content ========================================= */

.homeContent{
  display:flex;
}
.mainContent{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 5px;
  padding:5px;
  padding-top: 0px;
  padding-bottom: 10px;
  width: auto;
}
.sticky {
  margin: 1em;
  margin-top: 2em;
  padding: 0.3em;
  height: auto;
  position: sticky;
  top: 4em;/* Where it stops */
  color: var(--mainColor)
}

::-webkit-scrollbar {
  width: 3px;
  height:2px;
}
body::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {

}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
}

.overlapContentPage{
  position: fixed;
  display:block;
  overflow-y: scroll;
  padding:1em;
  width: 100%;
  height: 100%;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 1px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.9);
}
