@font-face {
font-family: 'StrokeyBacon';
font-style: normal;
font-weight: normal;
src: local('StrokeyBacon'), url('../fonts/StrokeyBacon.woff') format('woff');
}
body{
  text-align: justify;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}


/* ======================== NAVBAR ========================================= */

.axisNavbar
{
  height: 3em;
  transition: top 0.5s;
  position:fixed;
  width:100%;
  z-index:1;
}
.form-control {
    padding-right: 30px;
}
.form-control + .fas {
    position: absolute;
    right: 0;
    padding: 10px 27px;
}
.searchQueryField{
  height:2em;
  width:12em;
}
.searchQueryField:focus{
  background-color: #e1f5f0;
  box-shadow: 0px 0px 2px rgba(0,100,255,1),
              0px 0px 2px rgba(0,100,255,1),
              0px 0px 3px rgba(0,100,255,1);
}
.searchQueryButton{
  font-size: 14px;
}
.searchQueryButton:hover{
  color:black;
  font-weight: bolder;
  font-size: 16px;
}

/* ======================== MENU ========================================= */
.axisMenu{
  width: 44vw;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  height: 3em;
  position: sticky;
  top:0px;
  border: 1px solid #353738;
  border-radius: 2px;
}
.axisMenuButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  padding-top: 0.5em;
}


/* ======================== Content ========================================= */

.homeContent{
  display:flex;
}
.mainContent{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 5px;
  padding:5px;
  padding-top: 0px;
  padding-bottom: 10px;
  width: auto;
}
.sticky {
  margin: 1em;
  margin-top: 2em;
  padding: 0.3em;
  height: auto;
  position: sticky;
  top: 4em;/* Where it stops */
}

::-webkit-scrollbar {
  width: 3px;
  height:2px;
}
body::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {

}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
}

.overlapContentPage{
  position: fixed;
  display:block;
  overflow-y: scroll;
  padding:1em;
  width: 100%;
  height: 100%;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 1px;
  z-index: 3;
}
