{% extends "axisCore/base.html" %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'axisPosts/css/postFeed.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'axisPosts/css/themes/darkMode.css' %}">
{% endblock %}
{% block javascript %}

{% endblock %}

{% block content %}
    <div class="postFeed" id="postFeed">
        {% include "axisPosts/postList.html" %}
    </div>
        
{% endblock %}

{% block customSidebar %}
      <span>customSidebar of axisPOSTS</span>
      <span title="Custom Sidebar From axisPosts">This is a Sidebar That is Controlled and Managed by Individual Apps</span>
{% endblock customSidebar %}
