{% extends "axisCore/base.html" %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'axisPosts/css/postFeed.css' %}">
{% endblock %}
{% block javascript %}

{% endblock %}

{% block content %}
    <div class="postFeed" id="postFeed">
        {% include "axisPosts/postList.html" %}
    </div>
        
{% endblock %}

{% block customSidebar %}
    <div class='sidebarDiv'>
        <p class='sidebarTitle'> Post Sidebar </p>
        {% if user.is_authenticated %}
            <div class='sidebarElement' id='userCustomPost'>
                <i class="fas fa-cog"></i>
                User Customizations 
            </div>
            <div class='sidebarElement' id='suscribedPosts'>
                Suscribe Posts
            </div>
        {% endif %}
        <div class='sidebarElement' id='customSidebarPost1'>
            More Options 1
        </div>
        <div class='sidebarElement' id='customSidebarPost2'>
            More Options 2
        </div>
        <p class='sidebarTitle'> More for Custom Post Sidebar</p>
        <div class='sidebarElement' id='viewProfileButton'>
        <i class="fas fa-comment-dots"></i>
        Chat
        </div>
    </div>
{% endblock customSidebar %}
