{% extends "axisCore/base.html" %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'axisPosts/css/postFeed.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'axisPosts/css/themes/darkMode.css' %}">
{% endblock %}
{% block javascript %}

{% endblock %}

{% block content %}
<div class="post-feed" id="post-feed">
  {{PostList}}
  {{queryset}}
  {%if post_list%}
      {%for post in post_list%}
        <div class='post-feed-card'>
                <div class="post-feed-title">
                  {{ post.postTitle }}
                  <small>| Id : {{ post.id }}</small>
                </div> <hr style="margin:5px;margin-top:3px;">
                <div class="post-feed-text">&raquo; {{ post.content }} &laquo;</div>
                <div class="post-feed-popu">
                  &#9889;
                  <span id="popu-counter-{{ post.id }}"> {{ post.popularity }}</span>
                  <span id="popu-msg-{{ post.id }}"></span>
                </div>
                <form method="post" class="post-feed-react">
                  <button type="button" class="post-feed-reactUp" id="post-feed-reactUp-{{ post.id }}" value=0 >&#9650;Up</button>
                  <button type="button" class="post-feed-reactDown" id="post-feed-reactDown-{{ post.id }}" value=0 >&#9660;Meh!</button>
                  <button type="button" name="viewPost" class="post-feed-view-button" id="post-feed-view-button-{{ post.id }}">View Post</button>
                </form>
                <div class="post-upd"><small> Updated At : {{ post.updatedOn }}</small></div>
            </div>
            {% endfor %}
            <div class="load-more" id="load-more<?php echo $_POST['postNumber'] ?>">
              <span class="load-more-button"  id="<?php echo $_POST['postNumber']; ?>" title="Click to Show More Post Feeds">Load More Posts ?</span>
              <span class="loading-button" id="<?php echo $_POST['lastPopu']; ?>" style="display:none;">Loading ... </span>
            </div>
    {% else %}
    <div class="load-more" id="load-complete-div">
      <span class="load-more-button"  id="<?php echo $_POST['postNumber']; ?>"  style="display:none;">Load More Posts ?</span>
      <span class="load-complete"  id="<?php echo $_POST['postNumber']; ?>" title="You Finished All Post Feed Reads :) ">Looks Like You are all Caught Up :) !!</span>
    </div>
    {% endif %}
 </div>
{% endblock %}

{% block customSidebar %}
    <div class="customSidebar stickyprofileSidebar sticky" id="customSidebar">
      <span class="load-more-button"  id="<?php echo $_POST['postNumber']; ?>"  style="">customSidebar</span>
      <span class="load-complete"  id="<?php echo $_POST['postNumber']; ?>" title="Custom Sidebar From axisPosts">This is a Sidebar That is Controlled and Managed by Individual Apps</span>
    </div>
{% endblock customSidebar %}
