<!DOCTYPE HTML>
<html>
  <head>
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/8ad826539a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'axisUsers/css/index.css' %}">
  </head>
  <body class="regBody">
    <div class="regContent">
      <div class="regForm">
        <form method="post" action="">
          {% csrf_token %}
          <legend align='left'><h2>Join Our Axis Family</h2></legend>
          <h6 style="padding-top:2em;"><span class="error">*Required Fields</span></h6>
          {{ form.non_field_errors }}
          {{ form.source.errors }}
          {{ form.source }}
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
          <i class="fas fa-user" style='font-size:20px'></i>
          {{form.first_name}}
          {{form.last_name}}
          <span class="error"> {{ form.first_name.errors }}</span>
          <span class="error">  {{ form.last_name.errors }}</span>
          <br><br>
          <i class="far fa-envelope" style='font-size:20px'></i>
          {{form.email}}
          <span class="error">* {{form.email.errors}}</span>
          <br><br>
          <i class='fas fa-user-tie' style='font-size:20px'></i>
          {{form.username}}
          <span class="error"> * {{form.username.errors}}</span>
          <br><br>
          <i class='fas fa-key' style='font-size:20px'></i>
          {{form.password}}
          <span class="error"> * {{form.password.errors}}</span>
          <br><br>
          <i class='fas fa-globe' style='font-size:20px'></i>
          {{form.country}}
          <span class="error"> * {{form.country.errors}}</span>
          <br><br>
          <i class="fas fa-venus-mars" style='font-size:20px'></i>
          {% for genderRadio in form.gender %}
              {{ genderRadio }}
          {% endfor %}
          <span class="error">{{form.gender.errors}}</span>
          <br><br>
          Agree On <a href="../terms">Our Terms and Conditions </a>:<br>
          <input type="radio" name="agreeCnd"  value="agree">  I Agree
          <input type="radio" name="agreeCnd"  value="disAgree">  I Disagree
          <span class="error"> * </span>
          <br><br>
          <input style="border-width: 1px;border-radius:8px;cursor: pointer;" type="submit" name="SubmitForm" value="Register">
        </form>
      </div>
      <div class="regImage">
        <img class="regImageImage" src="https://i.imgur.com/ssSIQHn.jpg" alt="sign Up Image"/>
        <p style="margin-top:1em;margin-left:5%;">  Already Registered ? <a href="../login"> Login Here</a></p>
      </div>
   </div>
   <div class="msgBox">
     <span class="message"><br>We Value Your Privacy Very Highly.<br>Rest Assured Your Data is Safe with Us and is NOT SHARED with Any Other 3rd Parties.</span>
   </div>
  </body>
</html>
